body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

ul {         
    padding:0 0 0 0;
    margin:0 0 0 0;
}
ul li {     
  	list-style:none;
  	margin-bottom:25px;           
}
ul li img {
  	cursor: pointer;
}

.controls{          
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;          
}
.next {
    float:right;
    text-align:right;
}

.img-responsive:hover {
	cursor: pointer;
}

.clock {
	zoom: 0.5;
	-moz-transform: scale(0.5)
}

.image-cropper {
  position: relative;
  width:150px;height:150px;overflow:hidden
}

.smallImg {
  width:150px;  
}

.spaceRow {
	margin-top:30px;
}

.polaroid-images div
{
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
    font-size:14px;
}

.polaroid-images div:after {
	color: #333;
	font-size: 12px;
	content: attr(title);
	position: relative;
	top:15px;
}

.polaroid-images img { 
	display: block; 
	width: 150px; 
}

.polaroid-images div:nth-child(1n)
{
	-webkit-transform: rotate(-12deg);  
	-moz-transform: rotate(-12deg); 
	transform: rotate(-12deg); 
}
.polaroid-images div:nth-child(2n)
{
	-webkit-transform: rotate(10deg);  
	-moz-transform: rotate(10deg); 
	transform: rotate(10deg); 
}
.polaroid-images div:nth-child(3n) { 
	-webkit-transform: rotate(-24deg);  
	-moz-transform: rotate(-24deg); 
	transform: rotate(-24deg); 
}
.polaroid-images div:nth-child(4n)
{
	-webkit-transform: rotate(14deg);  
	-moz-transform: rotate(14deg); 
	transform: rotate(14deg); 
}
.polaroid-images div:nth-child(5n)
{
	-webkit-transform: rotate(-18deg);  
	-moz-transform: rotate(-18deg); 
	transform: rotate(-18deg); 
}
.polaroid-images div:hover{
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}